{% include "header.html" %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <br />
        <div class="card">
          <div class="card-body">
            <div class="text-justify">
              <h2 class="mt-1">Enter Operator Details</h2>
              <form id='test' name='test'>
                <div class="form-group">
                  <label for="age">Operator Name : </label>
                  <input type="text" class="form-control" id="name" placeholder="enter operator name ...">
                </div>

                <div class="form-group">
                  <label for="age">Operator Email : </label>
                  <input type="text" class="form-control" id="email" placeholder="enter operator email ...">
                </div>

                <div class="form-group">
                  <label for="age">Operator Password : </label>
                  <input type="text" class="form-control" id="password"
                    placeholder="enter a password for the operator ...">
                </div>
                <br />
                <p id="error" style="color:red; display: none">Enter all data!</p>
                <button type="button" class="btn btn-dark" onclick="submitData()">Create Operator</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "footer.html" %}
</body>

<script>

  function submitData() {
    var name = $('#name').val();
    var email = $('#email').val();
    var password = $('#password').val();

    // var today = new Date();
    if (!name || !email || !password) {
      $('#error').css('display', 'block');
    }
    else {
      var url = 'get_operator_data?name=' + name + '&email=' + email + '&password=' + password;
      window.location = url
    }
  }
</script>


</HTML>