{% include "header.html" %}
<div class="container">
  <br />
  <div class="card">
    <div class="card-body mt-2">
      <div class="row">
        <div class="col-md-6">
          <div class="text-justify">
            <h3>Hi, {{ name }}</h3>
            <p id="date"></p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="text-justify">
            <p>
              <span class="badge badge-info ml-5">To Contact : {{ to_contact }}</span>
              <span class="badge badge-success ml-5">Contacted : {{ contacted }}</span>
              <span class="badge badge-danger ml-5">Unreachable : {{ unreachable }}</span>
            </p>
            <div class="progress">
              <div id="progress" class="progress-bar bg-success" role="progressbar"
                style="width: {{ (contacted/(+unreachable+contacted+to_contact))*100 }}%" aria-value
                now="{{ (contacted/(unreachable+contacted+to_contact))*100 }}" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <h3 class="ml-3">
      To Contact:
    </h3>
    <div class="col-lg-12">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Fill Information</th>
              <th>Mark Unreachable</th>
            </tr>
          </thead>
          <tbody>
            {% for i in to_contact_patients %}
            <tr>
              <td>{{ i.name }}</td>
              <td>{{ i.age }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.mobile }}</td>
              <td>{{ i.address }}</td>
              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Click to Fill Info
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ i.name }}'s Symptoms Today</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          {% for i in symptoms %}
                          <div class="form-check m-3">
                            <input name="{{ i.name }}" type="checkbox" class="form-check-input symptom"
                              id="{{ i.symptom_id }}">
                            <label class="form-check-label" for="{{ i.symptom_id }}">{{ i.name }}</label>
                          </div>
                          {% endfor %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success m-2 btn-sm"
                          onClick="contact({{ i.pid }})">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm"
                  onClick="unreachable({{ i.pid }})">Unreachable</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="ml-3">
      Unreachable:
    </h3>
    <div class="col-lg-12">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Retry</th>
            </tr>
          </thead>
          <tbody>
            {% for i in unreachable_patients %}
            <tr>
              <td>{{ i.name }}</td>
              <td>{{ i.age }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.mobile }}</td>
              <td>{{ i.address }}</td>
              <td><button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Try Again
                </button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
</body>
<script>
  $('document').ready(function () {
    $("#progress").text(Math.round({{ (contacted / (unreachable + contacted + to_contact)) * 100 }}) + "%");
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];
  let dateObj = new Date();
  let month = monthNames[dateObj.getMonth()];
  let day = String(dateObj.getDate()).padStart(2, '0');
  let year = dateObj.getFullYear();
  let output = "Your dashboard for " + month + '\n' + day + ', ' + year;
  $("#date").text(output);
  });

  function contact(pid) {
    var symptoms = [];
    $('.symptom:checkbox:checked').each(function () {
      symptoms.push(this.name);
    })
    url = "/contact?pid=" + pid
      + "&symptoms=" + symptoms
      ;
    window.location = url;
  }

  function unreachable(pid, status) {
    url = "/unreachable?pid=" + pid;
    window.location = url;
  }
</script>

</HTML>